/apps/bootloader/LiveUpdate/LiveUpdate_App/firmware/LiveUpdate_App.X/.generated_files/
/apps/bootloader/LiveUpdate/LiveUpdate_App/firmware/LiveUpdate_App.X/build/
/apps/bootloader/LiveUpdate/LiveUpdate_App/firmware/LiveUpdate_App.X/debug/
/apps/bootloader/LiveUpdate/LiveUpdate_Switcher/firmware/LiveUpdate_Switcher.X/.generated_files/
/apps/bootloader/LiveUpdate/LiveUpdate_Switcher/firmware/LiveUpdate_Switcher.X/build/
/apps/bootloader/LiveUpdate/LiveUpdate_Switcher/firmware/LiveUpdate_Switcher.X/debug/
/apps/bootloader/LiveUpdate/LiveUpdate_App/firmware/LiveUpdate_App.X/dist/
/apps/bootloader/LiveUpdate/LiveUpdate_Switcher/firmware/LiveUpdate_Switcher.X/dist/
/apps/examples/system/debug_uart/firmware/debug_uart.X/.generated_files/
/apps/examples/system/debug_uart/firmware/debug_uart.X/build/
/apps/examples/system/debug_uart/firmware/debug_uart.X/debug/
/apps/examples/system/debug_uart/firmware/debug_uart.X/dist/
/apps/examples/peripheral/usart/uart_basic/firmware/uart_basic.X/.generated_files/
/apps/examples/peripheral/usart/uart_basic/firmware/uart_basic.X/build/
/apps/examples/peripheral/usart/uart_basic/firmware/uart_basic.X/debug/
/apps/examples/peripheral/usart/uart_basic/firmware/uart_basic.X/dist/
